*


!.gitignore

!nvim/
!nvim/**
!hypr/
!hypr/**
!waybar/
!waybar/**
waybar/local.css
!wezterm/
!wezterm/**
!starship/
!starship/**
!fish/
!fish/config.fish
# !gtk-3.0/
# !gtk-3.0/**
# !gtk-4.0/
# !gtk-4.0/**
!swaync/
!swaync/**
!wlogout/
!wlogout/**
!rofi/
!rofi/**
!scripts/
!scripts/**
# !qt5ct/
# !qt5ct/**
# !qt6ct/
# !qt6ct/**
!quickshell/
!quickshell/**
!MangoHud/
!MangoHud/**
!bat/
!bat/**
!fastfetch/
!fastfetch/**
!opencode/
!opencode/AGENTS.md

hypr/conf/local.conf
hypr/conf/local.lua
hypr/hyprlandd.lua
