*

!.gitignore

!nvim/
!nvim/**
!hypr/
!hypr/**
!waybar/
!waybar/**
!wezterm/
!wezterm/**
!starship/
!starship/**
!kitty/
!kitty/**
!fish/
!fish/**
!fuzzel/
!fuzzel/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
!swaync/
!swaync/**
!wlogout/
!wlogout/**
!wofi/
!wofi/**
!sherlock/
!sherlock/**
!rofi/
!rofi/**
!hypr-dock/
!hypr-dock/**
!scripts/
!scripts/**
