*


!.gitignore

!alacritty/
!alacritty/**
alacritty/env.toml

!bat/
!bat/**

!fastfetch/
!fastfetch/**

!fish/
!fish/config.fish

# !gtk-3.0/
# !gtk-3.0/**
# !gtk-4.0/
# !gtk-4.0/**

!hypr/
!hypr/**
hypr/conf/local.conf
hypr/conf/local.lua
hypr/hyprlandd.lua

!MangoHud/
!MangoHud/**

!nvim/
!nvim/**

!opencode/
!opencode/AGENTS.md
!opencode/opencode.json

!pi/
!pi/**
pi/auth.json
pi/mcp-cache.json
pi/npm
pi/sessions

!quickshell/
!quickshell/**

# !qt5ct/
# !qt5ct/**
# !qt6ct/
# !qt6ct/**

!rofi/
!rofi/**

!scripts/
!scripts/**

!starship/
!starship/**

!swaync/
!swaync/**

!tmux/
!tmux/**
tmux/plugins
tmux/resurrect

!waybar/
!waybar/**
waybar/local.css

!wezterm/
!wezterm/**

!wlogout/
!wlogout/**
