@define-color base #1e1e2e;
@define-color surface #313244;
@define-color overlay #45475a;
@define-color muted #6c7086;
@define-color subtle #9399b2;
@define-color text #cdd6f4;
@define-color red #f38ba8;
@define-color peach #f9e2af;
@define-color blue #89b4fa;
@define-color teal #94e2d5;
@define-color lavender #b4befe;
@define-color highlightLow #181825;
@define-color highlightMed #313244;
@define-color highlightHigh #45475a;

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    background-image: none;
    box-shadow: none;
    transition: 20ms;
}

window {
    background-color: rgba(30, 30, 46, 0.9);
    font-size: 16pt;
}

button {
    background-color: @surface;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    border-radius: 15px;
    border: 2px solid @highlightLow;
    margin: 10px;
    color: @text;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: @highlightMed;
    border-color: @blue;
    background-size: 35%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button span {
    font-size: 1.2em;
    margin: 5px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
