#window {
    background-color: transparent;
}

#outer-box {
    border-radius: 4px;
    background-color: #191724;
    border: 2px solid #26233a;
    padding: 12px;
}

#input {
    padding: 4px;
    border-radius: 14px 14px 0 0;
    font-size: 16px;
    background-color: #191724;
    border: none;
    color: #e0def4;
}

#input:focus {
    box-shadow: none;
}

#scroll {
    border-radius: 14px;
    background-color: #1f1d2e;
    margin: 0 12px 12px;
}

#inner-box {
    border-radius: 14px;
    padding: 12px;
}

#entry {
    padding: 8px;
    color: #e0def4;
}

#entry:selected {
    border-radius: 8px;
    background-color: #26233a;
    color: #e0def4;
}

#entry image {
    margin-right: 8px;
}
